
  table{
    margin: 0 auto;
    width: 80%;
  }
  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
  }

  th,td{
    text-align: center;
  }
  h1 {
    text-align: center;
  }  
  button {
    cursor: pointer;
    margin-left: 10px;
  }
  